.carousel-action-btn .action-btn {
  background-color: rgba(1, 209, 103, 0.20);
  color: #000;
  border-radius: 50%;
  padding: 4px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
  height: 1px;
  width: 1px;
}

.carousel-action-btn .action-btn:hover {
  background-color: #000;
  color: #fff;
  height: 4px;
  width: 4px;
  transition: all 0.3s;
}

.carousel-action-btn .action-btn.active {
  background-color: rgb(1, 209, 103);
  color: #fff;
  border-radius: 40px 40px 40px 40px;
  height: 2px;
  width: 20px;
}