.debit-card-details .MuiAccordionSummary-root {
  background-color: #f5f9ff !important;
  min-height: 60px !important;
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12) !important;
}

.debit-card-details .MuiAccordionDetails-root {
  padding: 0 !important;
}
